<head>
    <title>@ViewData["Title"] - Task5</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body class="dark-theme">
    <div class="text-center">
        <h1 style="font-size: 100px" class="display-4">Список стран</h1>
    </div>

    <ul class="country-list">
        <li class="country-item">
            <div class="country-name">Россия</div>
            <div class="country-population">Население на 2021 год: 147 182 123</div>
        </li>
        <li class="country-item">
            <div class="country-name">США</div>
            <div class="country-population">Население на 2020 год: 331 449 281</div>
        </li>
        <li class="country-item">
            <div class="country-name">Китай</div>
            <div class="country-population">Население на 2023 год: 1 411 750 000</div>
        </li>
    </ul>
</body>